<p>
 This workshop introduces high performance computing using the Jackson Laboratory’s
 computing cluster. The goal is to teach novice programmers to use powerful tools and
 computing resources, and to engage in best practices for using these resources. The
 emphasis of this workshop is to give attendees a strong foundation in best practices for
 scientific computing in high performance computing environments. By the end of this
 workshop, participants will be able to:

    * connect to a cluster

    * write simple shell scripts

    * submit and manage jobs on a cluster using a scheduler

    * use software through environment modules.

</p>
